:root {
    --white: rgb(241, 241, 241);
    --blue: rgb(91, 154, 213);
    --dkblue: #41506b;
}

body {
    background-color: #E1F2FB;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: none;
}

/*#region HEADER */

header {
    background-color: var(--white);
    color: var(--blue);
    height: 18%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

.contact-banner {
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--blue);
}

.contact-info {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.contact-phone {
    width: 1.5rem;
    margin-right: 0.75rem;
    vertical-align: middle;
}

.contact-email {
    width: 2.25rem;
    margin-right: 0.75rem;
    vertical-align: middle;
}

.contact-item a {
    color: #393e46;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-item a:hover {
    color: #5b9ad5;
    cursor: pointer;
}

.social-icons {
    align-items: center;
}

.social-icons a {
    text-decoration: none !important;
}

.social-icons img {
    width: 1.5rem;
    padding-right: 1.5rem;
    vertical-align: middle;
}

.main-header {
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 1.5rem;
}

.logo img {
    align-self: center;
    max-height: 8rem;
}

.menu-container {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding-right: 3.5rem;
    align-self: stretch;
}

.menu-container-mobile {
    display: none;
    align-content: center;
}

.menu-container-mobile img {
    transition-duration: 0.6s;
    transition-property: transform;
    width: 2rem;
}

#hamburger-button {
    display: none;
}

.navbar {
    align-self: stretch;
    display: flex;
}

.mobile-navbar {
    opacity: 0;
    display: flex;
    flex-direction: column;
    height: 80%;
    ;
    transition: opacity 0.6s ease 0s;
    opacity: 0;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-self: flex-end;
}

.navbar li {
    flex: 1;
    display: flex;
    justify-content: center;
    border-top-right-radius: 2.5em;
    border-top-left-radius: 2.5em;
    width: auto;
}

.navbar a {
    text-decoration: none;
    color: #393e46;
    padding: 1.5rem;
    background-color: transparent;
    text-align: center;
    display: flex;
    text-wrap: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 300;
}

.navbar a.passive {
    background-color: transparent;
}

.active {
    background-color: var(--blue);
}

.active a {
    color: var(--white);
}

.navbar li:hover {
    background-color: var(--blue);
}

.navbar li:hover a {
    color: var(--white);
}

.language-selector {
    height: 50%;
    border-color: #5b9ad5;
    display: flex;
    padding-left: 1%;
}

.language-selector select {
    font-size: 1rem;
    width: max-content;
    align-self: center;
}

/*#region Mobile Header */

@media  screen and (max-width: 640px) {

    header {
        height: auto;
    }

    .contact-banner {
        display: none;
    }

    .menu-container {
        display: none;
    }

    .menu-container-mobile {
        height: 100vh;
        width: 5%;
        padding-top: 3%;
        padding-right: 3%;
        position: absolute;
        top: 1.25em;
        right: 0%;
        display: flex;
        flex-direction: column;
        transition-duration: 0.6s;
        transition: width 1.5s;
    }

    .on {
        width: 50%;
        background-color: rgba(241, 241, 241, 0.9);
    }

    .off {
        width: 10%;
        background-color: transparent;
    }

    #hamburger-button:checked+label>img {
        transform: rotate(-90deg);
    }

    .menu-container-mobile ul {
        height: 50%;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .menu-container-mobile li {
        height: 100%;
        width: 95%;
        align-items: center;
        align-content: center;
        display: flex;
        padding-left: 5%;
    }

    .language-selector-mobile {
        padding-top: 10%;
        padding-left: 5%;
        width: 50%;
        height: 5%;
    }

    .language-selector-mobile select {
        width: 100%;
        height: 100%;
    }

    .btn {
        padding-bottom: 20%;
    }

    .mobile-navbar {
        opacity: 0.6;
        transition: opacity 0.6s ease 0s;
        opacity: 0;
    }

    .mobile-navbar .active {
        color: #fff;
    }

    .mobile-navbar a {
        color: #393e46;
        text-decoration: none;
        text-align: center;
        display: flex;
    }

    .logo img {
        max-height: 5.5rem;
    }

    .logo {
        padding-top: 0%;
        padding-left: 0;
    }

}

@media  screen and (min-width: 640px) and (max-width: 825px) {

    header {
        height: 10%;
    }

    .contact-banner {
        display: none;
    }

    .menu-container {
        display: none;
    }

    .menu-container-mobile {
        height: 100vh;
        width: 15%;
        position: absolute;
        top: 40%;
        right: -5%;
        display: flex;
        flex-direction: column;
        transition-duration: 0.6s;
        transition: width 1.5s;
    }

    .on {
        width: 40%;
        background-color: rgba(241, 241, 241, 0.9);
    }

    .off {
        width: 10%;
        background-color: transparent;
    }

    #hamburger-button:checked+label>img {
        transform: rotate(-90deg);
    }

    .menu-container-mobile ul {
        height: 30%;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

    }

    .menu-container-mobile li {
        height: 100%;
        width: 95%;
        align-items: center;
        align-content: center;
        display: flex;
        padding-left: 5%;
    }

    .language-selector-mobile {
        padding-top: 10%;
        padding-left: 5%;
        width: 50%;
        height: 5%;
    }

    .language-selector-mobile select {
        width: 100%;
        height: 100%;
    }

    .btn {
        padding-bottom: 11%;
    }

    .mobile-navbar {
        opacity: 0.6;
        transition: opacity 0.6s ease 0s;
        opacity: 0;
    }

    .mobile-navbar .active {
        color: #fff;
    }

    .mobile-navbar a {
        color: #393e46;
        text-decoration: none;
        text-align: center;
        display: flex;
        font-size: large;
    }

    .logo img {
        max-height: 6rem;
    }

    .logo {
        padding-top: 3%;
        padding-left: 0;
    }


}

@media  screen and (min-width: 825px) and (max-width: 1024px) {
    
    header {
        height: 10%;
    }

    .contact-banner {
        display: none;
    }

    .menu-container {
        display: none;
    }

    .menu-container-mobile {
        height: 100vh;
        width: 15%;
        position: absolute;
        top: 40%;
        right: -5%;
        display: flex;
        flex-direction: column;
        transition-duration: 0.6s;
        transition: width 1.5s;
    }

    .on {
        width: 40%;
        background-color: rgba(241, 241, 241, 0.9);
    }

    .off {
        width: 10%;
        background-color: transparent;
    }

    #hamburger-button:checked+label>img {
        transform: rotate(-90deg);
    }
    
    .menu-container-mobile ul {
        height: 30%;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    
    }
    
    .menu-container-mobile li {
        height: 100%;
        width: 95%;
        align-items: center;
        align-content: center;
        display: flex;
        padding-left: 5%;
    }
    
    .language-selector-mobile {
        padding-top: 10%;
        padding-left: 5%;
        width: 50%;
        height: 5%;
    }
    
    .language-selector-mobile select {
        width: 100%;
        height: 100%;
    }
    
    .btn {
        padding-bottom: 11%;
    }
    
    .mobile-navbar {
        opacity: 0.6;
        transition: opacity 0.6s ease 0s;
        opacity: 0;
    }
    
    .mobile-navbar .active {
        color: #fff;
    }
    
    .mobile-navbar a {
        color: #393e46;
        text-decoration: none;
        text-align: center;
        display: flex;
        font-size: large;
    }
    
    .logo img {
        max-height: 8rem;
    }
    
    .logo {
        padding-top: 3%;
        padding-left: 2%;
    }
    
    
}

@media  screen and (min-width: 1024px) and (max-width: 1200px) {

    header {
        height: auto;
    }

    .contact-banner {
        display: none;
    }

    .menu-container {
        display: none;
    }

    .menu-container-mobile {
        height: 100vh;
        width: 15%;
        position: absolute;
        top: 40%;
        right: -5%;
        display: flex;
        flex-direction: column;
        transition-duration: 0.6s;
        transition: width 1.5s;
    }

    .on {
        width: 40%;
        background-color: rgba(241, 241, 241, 0.9);
    }

    .off {
        width: 10%;
        background-color: transparent;
    }

    #hamburger-button:checked+label>img {
        transform: rotate(-90deg);
    }
    
    .menu-container-mobile ul {
        height: 30%;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    
    }
    
    .menu-container-mobile li {
        height: 100%;
        width: 95%;
        align-items: center;
        align-content: center;
        display: flex;
        padding-left: 5%;
    }
    
    .language-selector-mobile {
        padding-top: 5%;
        padding-left: 5%;
        width: 50%;
        height: 5%;
    }
    
    .language-selector-mobile select {
        width: 100%;
        height: 100%;
    }
    
    .btn {
        padding-bottom: 11%;
    }
    
    .mobile-navbar {
        opacity: 0.6;
        transition: opacity 0.6s ease 0s;
        opacity: 0;
    }
    
    .mobile-navbar .active {
        color: #fff;
    }
    
    .mobile-navbar a {
        color: #393e46;
        text-decoration: none;
        text-align: center;
        display: flex;
        font-size: large;
    }
    
    .logo img {
        max-height: 8rem;
    }
    
    .logo {
        padding-top: 0%;
        padding-left: 2%;
    }
    
}

@media  screen and (min-width: 1200px) and (max-width: 1400px) {
    
        header {
            height: auto;
        }
    
        .contact-banner {
            display: none;
        }
    
        .menu-container {
            display: none;
        }
    
        .menu-container-mobile {
            height: 100vh;
            width: 15%;
            position: absolute;
            top: 40%;
            right: -5%;
            display: flex;
            flex-direction: column;
            transition-duration: 0.6s;
            transition: width 1.5s;
        }
    
        .on {
            width: 40%;
            background-color: rgba(241, 241, 241, 0.9);
        }
    
        .off {
            width: 10%;
            background-color: transparent;
        }
    
        #hamburger-button:checked+label>img {
            transform: rotate(-90deg);
        }
        
        .menu-container-mobile ul {
            height: 30%;
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        
        }
        
        .menu-container-mobile li {
            height: 100%;
            width: 95%;
            align-items: center;
            align-content: center;
            display: flex;
            padding-left: 5%;
        }
        
        .language-selector-mobile {
            padding-top: 5%;
            padding-left: 5%;
            width: 50%;
            height: 5%;
        }
        
        .language-selector-mobile select {
            width: 100%;
            height: 100%;
        }
        
        .btn {
            padding-bottom: 11%;
        }
        
        .mobile-navbar {
            opacity: 0.6;
            transition: opacity 0.6s ease 0s;
            opacity: 0;
        }
        
        .mobile-navbar .active {
            color: #fff;
        }
        
        .mobile-navbar a {
            color: #393e46;
            text-decoration: none;
            text-align: center;
            display: flex;
            font-size: large;
        }
        
        .logo img {
            max-height: 8rem;
        }
        
        .logo {
            padding-top: 0%;
            padding-left: 2%;
        }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {

    header {
        height: auto;
    }

    .navbar a {
        font-size: 1.2em;
    }
}

/*#endregion MOBILE HEADER */

/*#endregion HEADER */

/*#region CONTENT*/

.content {
    position: relative;
}

.our-med-services {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e1f2fb;
    padding-top: 13%;
    padding-bottom: 3%;
}

.our-med-services h1 {
    color: #5b9ad5;
    font: 300 1em/1.4 "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 4em;
    margin-bottom: 2%;
    background-color: #e1f2fb;
}

.our-med-services p {
    color: #393e46;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    padding-bottom: 2%;
    background-color: #E1F2FB;
}

.med-services {
    padding-top: 5%;
    background-color: #E1F2FB;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service {
    display: flex;
    align-items: flex-start;
    background-color: #F1F9F9;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
    margin-bottom: 3%;
    box-sizing: content-box;
    width: 95%;
}

.service-content {
    flex: 1;
}

.service img {
    width: 15%;
    height: 15%;
    margin-top: 8%;
    margin-left: 5%;
    background-color: #5b9ad5;
    border-radius: 50%;
    border: #41506b 0.5px solid;
    margin-right: 5%;
    margin-bottom: 5%;
}

.service-content h3 {
    padding-top: 10%;
    margin-bottom: 0;
    color: #393e46;
    padding-top: 3%;
    letter-spacing: 0.5px;
    font: 400 1.5em/1.4 "Open Sans", "Helvetica Neue", sans-serif;
}

.service-content p {
    color: #393e46;
    padding-right: 5%;
    line-height: 1.5;
    letter-spacing: 0.2px;
    font: 300 1.2em/1.4 "Open Sans", "Helvetica Neue", sans-serif;
    padding-bottom: 3%;
}

.service-content hr {
    border: 1px solid #5b9ad5;
    margin-right: 80%;
    margin-bottom: 0;
    margin-top: 2%;
}

.slider-container {
    display: flex;
    max-width: 100%;
    max-height: 300px;
    height: 100%;
    margin-bottom: 4%;
    margin-top: 2%;
    overflow: hidden;
    position: relative;
    align-items: center;
}

.slider-wrapper {
    border-radius: 10px;
    overflow: hidden;
}

.slider {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    scroll-behavior: smooth;
    border-radius: 50px;
    height: 100%;
}

#preview-container {
    display: none;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

#preview {
    object-fit: contain;
    max-width: 70%;
    max-height: 70%;
    opacity: 100%;
}

#exit-preview {
    position: fixed;
    z-index: 501;
    top: 5%;
    right: 15%;
    width: 10vh;
    height: 10vh;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
    opacity: 1;
    border: none;
    font-size: 4vh;
    cursor: pointer;
}

.prev {
    position: absolute;
    width: 4%;
    border-radius: 50%;
    top: 40%;
    bottom: 5%;
    left: 1%;
    max-height: 25%;
    background-color: #5b9ad5;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    opacity: 0.8;
}

.prev:hover {
    opacity: 1;
    cursor: pointer;
}

.next {
    width: 4%;
    position: absolute;
    right: 1%;
    top: 40%;
    border-radius: 50%;
    bottom: 5%;
    max-height: 25%;
    background-color: #5b9ad5;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    opacity: 0.8;
}

.next:hover {
    opacity: 1;
    cursor: pointer;
}

.prev-zoom {
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    background-color: var(--blue);
    opacity: 1;
    border: none;
    font-size: 6vh;
    color: var(--white);
    cursor: pointer;
}

.next-zoom {
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    background-color: var(--blue);
    opacity: 1;
    border: none;
    font-size: 6vh;
    color: var(--white);
    cursor: pointer;

}

.slider img {
    max-height: 300px;
    object-fit: contain;
    scroll-snap-align: start;
    border-left: 5px solid #E0F5F8;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

.slider::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.contact-line {
    position: relative;
    background-color: #41506b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    padding-right: 10%;
    padding-left: 5%;
    margin-top: 5%;
}

.contact-line p {
    color: #fff;
    font: 300 1.5em/1.4 "Open Sans", "Helvetica Neue", sans-serif;
}

.hand {
    width: 15%;
    height: 60%;
}

.contact-button {
    appearance: none;
    background-color: transparent;
    border: 1px solid #5b9ad5;
    border-radius: 15px;
    box-sizing: border-box;
    color: #5b9ad5;
    cursor: pointer;
    display: inline-block;
    font: 400 1.5em/1.4 "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    width: 15%;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.contact-button:disabled {
    pointer-events: none;
}

.contact-button:hover {
    color: #fff;
    background-color: #5b9ad5;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.contact-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.packages-title {
    padding-bottom: 5%;
}

.packages {
    background: #E1F2FB;
    font: 400 1em/1.4 "Open Sans", "Helvetica Neue", sans-serif;
    color: #333;
    text-align: center;
    padding: 4em 5em;
    padding-bottom: 0;

}

.packages h1 {
    font-weight: 300;
    font-size: 4em;
    line-height: 1.35;
    margin: 0 0 0.125em;
    color: #5b9ad5;
}

.packages hr {
    border: 1px solid #5b9ad5;
    margin-left: 35%;
    margin-right: 35%;
}

.packages p {
    color: #393e46;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
}

table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

th,
td {
    font-family: inherit;
    font-size: 0.875em;
    line-height: 1.45;
    color: #444;
    vertical-align: middle;
    padding: 1em;
}

td img {
    width: 25%;
    height: 25%;

}

th {
    font-weight: 500;
}

colgroup:nth-child(1) {
    width: 20%;
    border: 0 none;
    border-bottom: 1px solid #ccc;
}

colgroup:nth-child(2) {
    width: 15%;
    border: 1px solid #ccc;
}

colgroup:nth-child(3) {
    width: 15%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

colgroup:nth-child(4) {
    width: 15%;
    border: 1px solid #ccc;
}

thead th {
    background: #def4fe;
    background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
    text-align: center;
    position: relative;
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    color: #999;
}

thead th:nth-child(1) {
    background: transparent;
}

thead th:nth-child(3) {
    padding: 2em 0 5em;
}

thead th h2 {
    font-weight: 300;
    font-size: 2.4em;
    line-height: 1.2;
    color: #5b9ad5;
}

thead th h2+p {
    font-size: 1.25em;
    line-height: 1.4;
}

thead th:nth-child(3) h2 {
    font-size: 2.4m;
    margin-top: 1.5em;
}

thead th p.promo {
    font-size: 1em;
    color: #fff;
    position: absolute;
    top: 9em;
    left: -17px;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 0.625em 17px 0.75em;
    background: #5b9ad5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #41506b;
}

thead th p.promo:before {
    content: "";
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 7px 7px 0;
    border-color: transparent #41506b transparent transparent;
    bottom: -7px;
    left: 0;
}

thead th p.promo:after {
    content: "";
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 7px 7px 0 0;
    border-color: #41506b transparent transparent transparent;
    bottom: -7px;
    right: 0;
}

/* Tablebody */

tbody th {
    background: #fff;
    border-left: 1px solid #ccc;
}

tbody th span {
    font-weight: normal;
    font-size: 87.5%;
    color: #999;
    display: block;
}

tbody td {
    background: #fff;
    text-align: center;
}

tbody tr:nth-child(even) th,
tbody tr:nth-child(even) td {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-width: 1px 0 1px 1px;
}

tbody tr:last-child td {
    border-bottom: 0 none;
}

.packages-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-top: 1%;
}

.packages-details p {
    margin: 0;
    font: 400 0.8em/1.4 "Open Sans", "Helvetica Neue", sans-serif;

}

.treatment-plan {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E1F2FB;
    padding-top: 3%;
}

.treatment-plan h5 {
    margin-bottom: 0;
    color: #393e46;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
}

.treatment-plan h2 {
    margin: 0;
    color: #5b9ad5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}

.treatment-plan p {
    color: #393e46;
    padding-left: 30%;
    padding-right: 30%;
    line-height: 1.2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.treatment-plan-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E1F2FB;
    padding: 5%;
}

.step {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
    text-align: center;
    align-items: center;
    background-color: #eff4f8;
    width: 20%;
    height: auto;
    border-radius: 10%;
}

.step h4 {
    color: #393e46;
    font: 500 1.5em/1.4 "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
}

.step hr {
    border: 0.5px solid #5b9ad5;
    padding-right: 10%;
    padding-left: 10%;
    margin: 0;
}

.step p {
    color: #393e46;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

.diagnose-img {
    width: 35%;
    height: 35%;
    margin-left: 10%;
    margin-top: 15%;
}

.hospital-img {
    width: 40%;
    height: 40%;
    margin-top: 15%;
}

.calendar-img {
    width: 30%;
    height: 30%;
    margin-top: 15%;
}

.suitcase-img {
    width: 35%;
    height: 35%;
    margin-top: 10%;
}

/*#region MOBILE CONTENT*/

@media only screen and (max-width: 600px) {

        .our-med-services {
            padding-top: 25%;
            
        }

        .our-med-services h1 {
            font-size: 3em;
        }

        .service {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .service img {
            width: 30%;
            height: 30%;
            background-color: #5b9ad5;
            border-radius: 50%;
            border: #41506b 0.5px solid;
        }

        .service-content {
            text-align: center;
        }

        .service-content hr {
            margin-right: 30%;
            margin-left: 30%;
            margin-bottom: 5%;
        }

        .service-content p {
            padding-left: 5%;
            padding-right: 5%;
            word-wrap: break-word;
            word-spacing: 2px;
            line-height: 1.5;
        }

        br {
            display: none;
        }

        .packages {
            padding: 3;
            padding-top: 5%;
        }

        .packages h1 {
            font-size: 3em;
        }

        .packages p {
            font-size: 15px;
        }

        .packages-details p {
            font-size: 10px;
        }

        .prev {
            opacity: 0.9;
            min-height: 5%;
            width: 10%;
        }

        .next {
            opacity: 0.9;
            min-height: 5%;
            width: 10%;
        }

        #exit-preview {
            position: fixed;
            z-index: 501;
            top: 1%;
            right: 5%;
            width: 9vh;
            height: 9vh;
            background-color: var(--blue);
            color: var(--white);
            border-radius: 50%;
            opacity: 1;
            border: none;
            font-size: 30px;
        }

        .prev-zoom {
            height: 10vh;
            width: 10vh;
            border-radius: 50%;
            background-color: var(--blue);
            opacity: 1;
            border: none;
            font-size: 35px;
            color: var(--white);
        }

        .next-zoom {
            height: 10vh;
            width: 10vh;
            border-radius: 50%;
            background-color: var(--blue);
            opacity: 1;
            border: none;
            font-size: 35px;
            color: var(--white);
        }

        td img {
            width: 50px;
            /* Adjust image size for mobile */
            height: 50px;
            /* Adjust image size for mobile */
        }

        table {
            margin-top: 1em;
            /* Reduce top margin for smaller screens */
        }

        table th:first-child {
            width: 10px;
            max-width: 100px;
            white-space: normal;
        }

        thead th {
            padding: 1em 0;
            /* Adjust header cell padding for smaller screens */
        }

        thead th h2 {
            font-size: medium;
        }

        .tbody th {
            width: 5%;
        }

        tbody th span {
            font-size: 80%;
            /* Reduce font size for smaller screens */
        }

        tbody td {
            padding: 0.5em;
            /* Adjust cell padding for smaller screens */
        }

        .treatment-plan-cards {
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }

        .step {
            width: 60%;
            margin-bottom: 5%;
        }

        .treatment-plan p {
            padding-left: 3%;
            padding-right: 3%;
            word-wrap: break-word;
            word-spacing: 2px;
            line-height: 1.5;
        }

        .contact-line {
            position: relative;
            top: 5%;
            height: 15%;
            padding-right: 2%;
            padding-left: 2%;
        }

        .contact-line p {
            font-size: medium;
            padding-left: 2%;
        }

        .contact-button {
            width: 30%;
            margin-right: 0;
            font-size: smaller;
        }

}

@media only screen and (min-width: 600px) and (max-width: 835px) {

    .our-med-services {
            padding: 15% 5% 5% 5%;
    }

    .service {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
    }

    .service img {
            width: 25%;
            height: 25%;
            background-color: #5b9ad5;
            border-radius: 50%;
            border: #41506b 0.5px solid;
    }

    #exit-preview {
            position: fixed;
            z-index: 501;
            top: 1%;
            right: 5%;
            width: 8vh;
            height: 8vh;
            background-color: var(--blue);
            color: var(--white);
            border-radius: 50%;
            opacity: 1;
            border: none;
            font-size: 35px;
    }

    .prev-zoom {
            height: 9vh;
            width: 9vh;
            border-radius: 50%;
            background-color: var(--blue);
            opacity: 1;
            border: none;
            font-size: 45px;
            color: var(--white);
    }

    .next-zoom {
            height: 9vh;
            width: 9vh;
            border-radius: 50%;
            background-color: var(--blue);
            opacity: 1;
            border: none;
            font-size: 45px;
            color: var(--white);
    }

    td img {
            width: 50px;
            height: 50px;
    }

    .treatment-plan p {
            padding-left: 15%;
            padding-right: 15%;
            word-spacing: 1px;
            line-height: 1.5;
    }

    .contact-line {
            position: relative;
            top: 5%;
            height: 12%;
            padding: 0;
    }

    .contact-line p {
            font-size: 20px;
    }

    .contact-button {
            width: 15%;
            margin-right: 2%;
    }

    .hand {
            width: 10%;
            height: 60%;
            margin-left: 2%;
            padding-right: 2%;
    }

    .prev {
        width: 6%;
    }

    .next {
        width: 6%;
    }
}

@media only screen and (min-width: 835px) and (max-width: 1024px) {

    .our-med-services {
            padding-top: 10%;
    }

    #exit-preview {
            position: fixed;
            z-index: 501;
            top: 1%;
            right: 5%;
            width: 10vh;
            height: 10vh;
            background-color: var(--blue);
            color: var(--white);
            border-radius: 50%;
            opacity: 1;
            border: none;
            font-size: 35px;
    }

    .prev-zoom {
            height: 12vh;
            width: 12vh;
            border-radius: 50%;
            background-color: var(--blue);
            opacity: 1;
            border: none;
            font-size: 45px;
            color: var(--white);
    }

    .next-zoom {
            height: 12vh;
            width: 12vh;
            border-radius: 50%;
            background-color: var(--blue);
            opacity: 1;
            border: none;
            font-size: 45px;
            color: var(--white);
    }

    .treatment-plan-cards {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 5% 2% 5% 0%;
    }

    .step {
            width: 30%;
            height: 40%;
            margin-left: 5%;
    }

    .step img {
            width: 20%;
            height: 20%;
    }

    .treatment-plan p {
            padding-left: 5%;
            padding-right: 5%;
            word-wrap: break-word;
            word-spacing: 2px;
            line-height: 1.5;
    }

    .contact-line {
            position: relative;
            top: 5%;
            height: 12%;
            padding: 0;
    }

    .hand {
            width: 10%;
            height: 50%;
            margin-left: 3%;
    }

    .contact-button {
            margin-right: 3%;
    }

    .prev {
        width: 8%;
    }

    .next {
        width: 8%;
    }
}

/*#endregion MOBILE CONTENT*/

/*#endregion CONTENT*/

/*#region FOOTER */

footer {
    height: 40%;
    background-color: var(--dkblue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-title {
    color: var(--white);
    font-size: 1.5em;
    font-weight: 600;
    padding-left: 10px;
    padding-bottom: 30px;
}

.contact-heartbeat {
    padding-left: 10px;
    color: var(--blue);
    width: 50px;
    height: 50px;
    padding-bottom: 30px;
}

.address-section {
    flex-direction: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 20px;
    display: flex;
}

.address-text {
    color: #fff;
    flex-direction: column;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -3px;
    padding-left: 16px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 1.5;
    text-decoration: none;
    display: block;
    position: static
}

.address-section.mail-content {
    justify-content: flex-start;
    margin-bottom: 0;
    display: flex
}

.address-text.footer-link {
    transition: background-color .2s
}

.address-text.footer-link:hover {
    color: var(--blue)
}

.address-section-whatsapp-content {
    justify-content: flex-start;
    margin-bottom: 0;
    display: flex;
    margin-top: 5px;
}

.address-section-whatsapp-content p {
    margin: 0;
    color: var(--white);
}

.abroad-number {
    color: #fff;
    flex-direction: column;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 16px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 1.5;
    text-decoration: none;
    display: block;
    position: static;
}

.abroad-number:hover {
    color: var(--blue);
}

.number-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 3%;
}

.abroad-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

.domestic-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

.domestic-number {
    color: #fff;
    flex-direction: column;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 16px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 1.5;
    text-decoration: none;
    display: block;
    position: static;
}

.domestic-number:hover {
    color: var(--blue);
}

.intro-image {
    width: 25px;
    height: 25px;
}

.footer-social-media {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}

.footer-social-media-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;

}

.footer-social-title {
    color: var(--white);
    font-size: 1.5em;
    font-weight: 600;
    padding-left: 15px;
}

.explore-heartbeat {
    padding-left: 10px;
    color: var(--blue);
    width: 50px;
    height: 50px;
}

.footer-social-media-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: left;
}

.footer-social-media-text {
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
    word-wrap: break-word;
    align-items: center;
}

.instagram-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
    padding-top: 5%;
}

.facebook-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-media-instagram {
    color: #fff;
    flex-direction: column;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 16px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 1.5;
    text-decoration: none;
    display: block;
    position: static;
}

.social-media-facebook {
    color: #fff;
    flex-direction: column;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 16px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 1.5;
    text-decoration: none;
    display: block;
    position: static;
}

.social-media-instagram:hover {
    color: var(--blue);
}

.social-media-facebook:hover {
    color: var(--blue);
}

.social-image {
    width: 30px;
    height: 30px;
}

.footer-map-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer iframe {
    height: 85%;
    width: 100%;
    border-radius: 5%;
}

/*#region MOBILE FOOTER */

@media only screen and (max-width: 640px) {

    footer {
        flex-direction: column;
        /* Change from row to column layout */
        height: auto;
        /* Allow height to adjust based on content */
        padding: 20px;
        /* Add some padding for better spacing */
    }

    .contact-title-section,
    .footer-social-media-section {
        text-align: center;
        /* Center the titles */
        margin-bottom: 20px;
        /* Add some space below the titles */
    }

    .footer-contact-area,
    .footer-social-media-content {
        text-align: left;
        /* Align content to the left */
    }

    .footer-social-media-content {
        display: flex;
        /* Use flexbox for layout */
        align-items: flex-start;
        /* Align items vertically */
        align-self: left;
    }

    .address-section,
    .address-section.mail-content,
    .address-section-whatsapp-content,
    .instagram-section,
    .facebook-section {
        margin-bottom: 20px;
        /* Add spacing between sections */
        display: flex;
        /* Use flexbox for layout */
        align-items: center;
        /* Align items vertically */
    }

    .address-section img,
    .footer-social-media.content img {
        max-width: 30px;
        /* Limit the maximum width of images */
        height: auto;
        /* Maintain aspect ratio */
        margin-right: 10px;
        /* Add spacing between images and text */
    }

    .footer-map-container {
        height: 300px;
        /* Adjust the height of the map */
    }

    .abroad-area a {
        padding-right: 0%;
        padding-left: 0%;
    }

    .domestic-area a {
        padding-right: 0%;
        padding-left: 0%;
    }
}

@media only screen and (min-width: 640px) and (max-width: 834px) {

    footer {
        padding: 10px;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts img {
        padding-bottom: 3%;
    }

    .footer-map-container {
        height: 100%;
    }
}

@media only screen and (min-width: 835px) and (max-width: 1024px) {

    footer {
        height: auto;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-right: 1%;
        padding-left: 1%;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts img {
        padding-bottom: 3%;
    }

    .footer-map-container {
        height: 300px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    
    footer {
        height: 50%;
    }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    
    .footer {
        padding: 10px;
    }

    .social-image {
        height: 3rem;
    }

    .abroad-number {
        padding-left: 0;
    }

    .domestic-number {
        padding-left: 0;
    }
}

/*#endregion MOBILE FOOTER*/

/*#endregion FOOTER*/

/*#region KVKK Popup*/
.bottom-banner {
    height: auto;
    background-color: var(--dkblue);
    color: var(--white);
    display: flex;
    justify-content: center;
}

.bottom-banner p {
    color: var(--white);
    font: 400 1.15em/1.4 "Open Sans", "Helvetica Neue", sans-serif;
}

.bottom-banner p:hover {
    color: var(--blue);
    cursor: pointer;
}

.kvkk-link {
    display: flex;
    background-color: var(--dkblue);
    height: 100%;
    align-items: center;
    width: 15%;
    justify-content: center;
    border: none;
    width: 50%;
}

.kvkk-link:hover {
    background-color: #566a8f;
    width: 100%;
}

.kvkk-popup {
    display: none;
    background-color: var(--dkblue);
    padding: 0;
    margin: 0;
}

.kvkk-popup.active {
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    position: fixed;
    background-color: #E1F2FB;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 10em;
    z-index: 10000;
    overflow: scroll;
}

.kvkk-text {
    padding-top: 4em;
    width: 100%;
    height: 100%;
    z-index: 502;
}

.kvkk-exit {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 501;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid black;
    opacity: .7;
    font-size: 30px;
    cursor: pointer;
}

.kvkk-scroll-top {
    position: fixed;
    z-index: 511;
    right: 5%;
    bottom: 10%;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid black;
    opacity: .7;
    font-size: 35px;
    cursor: pointer;
}

.kvkk-exit:hover {
    opacity: 1;
}

.kvkk-scroll-top:hover {
    opacity: 1;
}

.no-scroll {
    overflow: hidden;
}

/*#endregion KVKK Popup*/
